nav, nav .menu, nav .burger ~ .menu {
  background-color: #222;
}

nav {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  right: auto;
  /* width: 20em; */
  position: unset;
  bottom: 0px;
  height: 100%;
  padding: unset;
}

nav .menu, nav .brand {
  display: block;
  float: unset;
  top: auto;
  transform: unset;
  clear: both;
  padding-left: 0.5em;
}

nav .burger {
  position: absolute;
  bottom: unset;
  right: 0px;
  color: white;
}

nav .menu .nav-item.active {
  display: block;
  padding: 0.4em;
  padding-left: inherit;
  background-color: #479;
  width: 100%;
}

nav .menu a.nav-item.active {
  color: #000;
  font-weight: bold;
}

nav .menu a.nav-item {
  display: block;
  color: #fff;
  width: 100%;
}

nav .brand {
  max-width: unset;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 0.1em solid #666;
  margin-bottom: 0.5em;
}

.color-white {
  color: white;
}

.main {
  height: 100%;
}

/* .main {
  padding: 0px 5px 0px 23em;
} */
