// $picnic-nav-sides: 0;
$picnic-nav-position: inherit;
$theme-dark-color: #222;
$theme-dark-textcolor: #ddd;
$green: #00AA55;

@import "../../node_modules/picnic/src/picnic.scss";

.body {
  overflow:hidden;
}

.main {
  display:flex; 
  flex-direction:column;
  min-height:100%; 
  height:100%;
}

.container {
  display:flex;
  align-items: stretch;
  flex:1;
  overflow: hidden;
}

// Bug fix in the template. The card somehow does not react well for no apparent reason.
// This is not the proper solution especially if you start using card within a popup.
article.card {
  header,
    content,
    footer {
      position: inherit !important;
    }

  position: inherit !important;
}

@media all and (max-width: $picnic-breakpoint) {
  nav.dark {
    background-color: $theme-dark-color;
  }

  .topmenu {
    display: none;
  }

  .main-content {
    position: absolute;
    margin-top: 3em;
    padding:0.5em;
  }

  %nav {
    position:fixed;
    flex: 0 0 100%;
    justify-content: stretch;
    flex-wrap: wrap;

    .burger~.menu {
      background-color: $theme-dark-color;
    }

    .brand {
      max-width: initial;
    }

    .collapseToggle {
      display: none !important;
    }
  
    .menu {    
      .nav-item {
        color: #CCC;
      }

      .nav-item.active {
        color: #fff;
        background: rgb(28, 66, 92);
      }
    }
  }
}

@media all and (min-width: $picnic-breakpoint) {
  nav.dark {
    // background-color: $theme-dark-color;
    border-right:1px #ddd solid;
  }

  .topmenu {
    margin:0px; 
    padding:0.5em;
    height: 3em;
    display:flex;
    justify-content: space-between;
    line-height: 2em;
    background-color: $theme-dark-color;
    color: $theme-dark-textcolor;
    align-items: stretch;

    .topmenu-flex {
      display:flex;
    }

    .brandTop {
      font-weight: bold; 
      padding-right: 2em;
      color: #fff;
    }
    
    .logo {
      height: 2em;
      padding-right: 0.5em;
    }

    .lang {
      width: 60px; color: #000;font-size: 0.8em; padding-top:0px; margin-top:4px; justify-content:center;
    }

    .user {
      display: flex;
      justify-content: flex-end;
    }
  }

  $picnic-nav-width: 300px !default;
  $picnic-nav-width-collapsed: 40px !important;

  .main-content {
    flex: 1; 
    overflow:auto;
    padding: 0.2em;
  }

  .brand {
    display:none;
  }

  .collapseToggle {
    position:absolute; 
    bottom:20px; 
    right:-10px;
    text-align:right;
    padding:10px;
  }

  .collapsed {
    width: $picnic-nav-width-collapsed;
  }

  %nav {
    display: flex;
    flex: initial;
    vertical-align: top;
    z-index: inherit;
    box-shadow: inherit;
    // background: $theme-dark-color;
    right: inherit;
    width: $picnic-nav-width;
    height: inherit;
    padding: inherit;

    .menu {
      float: inherit;
      top: auto;
      clear: both;
      display: block;

      -webkit-transform: inherit;
      transform: inherit;

      .nav-item {
        display: inline-flex;
        padding: 0.4em 0px 0.4em 0.5em;
        margin: 0px;
        width: 100%;
        color: #444;
      }

      .nav-item.active {
        color: #eee;
        background: $blue;
      }

      span.collapsed {
        color: transparent;  width:0px !important;
      }
    }
  }
}

table {
  thead {
    font-size: 0.9em;
    white-space: nowrap;

    tr {
      th {
        background-color: $theme-dark-color;
      }
    }
  }
}

.page-title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  margin-left: -0.5em;
  padding-left: 0.5em;

  h1 {
    padding: 0.1em;
  }
}
