
.icon-counter:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-about:before { content: '\e804'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */